[Desktop Entry]
Version=1.0
Type=Link
Name=script.js
Comment=
Icon=user-bookmarks
URL=https://github.com/giullianacestari/extrator-de-palavras-chave/blob/aula9-projeto-final/script.js
