[Desktop Entry]
Version=1.0
Type=Link
Name=style.css
Comment=
Icon=user-bookmarks
URL=https://github.com/giullianacestari/extrator-de-palavras-chave/blob/aula9-projeto-final/style.css
